body{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: #ECDBBA;
  
}

.orbi{
  font-family: Orbitron;

}
h1{
  color: #C84B31;
}
input {
  width: 250px;
  height: 20px;
  border: none;
  border-radius: 10px;
  text-align: center;
}

button {
  display: block;
}



.shake{
  animation: shake 1s;
}

@keyframes shake{
  0% { transform: translate(4px, 4px) rotate(0deg); }
  10% { transform: translate(-4px, -4px) rotate(-1deg); }
  20% { transform: translate(-7px, 0px) rotate(1deg); }
  30% { transform: translate(7px, 4px) rotate(0deg); }
  40% { transform: translate(4px, -4px) rotate(1deg); }
  50% { transform: translate(-4px, 4px) rotate(-1deg); }
  60% { transform: translate(-7px, 4px) rotate(0deg); }
  70% { transform: translate(7px, 4px) rotate(-1deg); }
  80% { transform: translate(-4px, -4px) rotate(1deg); }
  90% { transform: translate(4px, 4px) rotate(0deg); }
  100% { transform: translate(4px, -4px) rotate(-1deg); }
}

div{
  position: absolute;
  top: 30%;
  z-index: -20;
}

img{
  position: relative;
  top:0;
  right: 0;
}

#answer{
  position: absolute;
  top: 32%;
  font-size: 11px;
  color: white;
  margin-top: 140px
}